@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background: #210829;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    background-color: #29081c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #29081c;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #cc00f0;
}

.home {
    margin-top: 15vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 120%;
    background: #210829;
    animation: showRight 1.5s ease forwards;
    animation-delay: .2s;
}

.itcamp19 {
    column-count: 2;
}

.prepro66 {
    column-count: 2;
}

.cai2023 {
    column-count: 2;
}

img {
    border-radius: 20%;
}

/* keyframes animation */
@keyframes showRight {
    100% {
        width: 0;
    }
}
